
<script type="text/ng-template" id="paimennus_input">
  <span ng-show="entry">
    Kiinnostus <input ng-model="entry.resource.kiinnostus"/><br>
    Luontainen taipumus <input ng-model="entry.resource.taipumus"/><br>
    Henkinen kestävyys <input ng-model="entry.resource.henkinen_kestavyys"/><br>
    Ohjattavuus <input ng-model="entry.resource.ohjattavuus"/><br>
    Tuomari <input ng-model="entry.resource.tuomari"/><br>
    Paikka <input ng-model="entry.resource.paikka"/><br>
    Päivä <input ng-model="entry.resource.paiva"/><br>
  </span>
</script>

<form ng-show="sidepanel.selection == ''">
  <button class="btn" ng-show="editing" ng-click="save()">Tallenna</button>
  <button class="btn" ng-show="!editing" ng-click="toggleEdit()">Muuta</button>
  <label>Virallinen nimi / muu tunniste</label>
  <input type="text" ng-readonly="!editing" ng-model="koira.virallinen_nimi">
  <label>Kutsumanimi</label>
  <input type="text" ng-readonly="!editing" ng-model="koira.kutsumanimi">
  <label>Kennel</label>
  <input type="text" ng-readonly="!editing" ng-model="koira.kennel">
  <label>Sukupuoli</label>
  <input type="text" ng-readonly="!editing" ng-model="koira.sukupuoli">
  <label>Syntymävuosi</label>
  <input  type="text" ng-readonly="!editing" ng-model="koira.syntymavuosi">
  <label>Syntymäpäivä</label>
  <input ui-date 
	 ng-show="editing"
	 ng-model="birthday.date"
	 ng-change="birthdayChange()"
	 >
  <span ng-show="!editing">{{birthday.date | date:'d.M.yyyy H:mm'}}</span>
  <label>Isä</label>
  <input type="text" 
	 ng-readonly="!editing" 
	 ng-model="isa_nimi" 
	 typeahead="suggestion for suggestion in typeahead($viewValue)">
  <label>Emä</label>
  <input type="text" 
	 ng-readonly="!editing" 
	 ng-model="ema_nimi" 
	 typeahead="suggestion for suggestion in typeahead($viewValue)">
  <br>
  <span>Tallentaja: {{koira.author_nick}} {{timestamp | date:'d.M.yyyy H:mm'}}</span>
  <span ng-show="koira_history.length > 0">
    <input type="checkbox" ng-model="koira_show_history">Historia</input>
    <br>
    <span ng-show="koira_show_history" class="history" ng-repeat="h in koira_history">
      <span ng-controller="KoiraHistoryCtrl">
	{{h.virallinen_nimi}}, {{h.kutsumanimi}}, {{h.kennel}}, {{h.sukupuoli}}, {{h.syntymavuosi}}, {{h.syntymapaiva}}, isä {{h_isa.virallinen_nimi}}, emä {{h_ema.virallinen_nimi}},
	({{h.author_nick}}
	{{h_timestamp | date:'d.M.yyyy H:mm'}})<br>
      </span>
    </span>
  </span>
  <div style="background: AliceBlue;" ng-controller="YhdistysPaimennustaipumusCtrl">
    Paimennustaipumuskoe: 
    <span ng-show="tests.length == 0">ei testattu</span>
    <div ng-repeat="test in tests">
  </div>
</form>
