
<script type="text/ng-template" id="paimennus_input">
  <span ng-show="entry">
    Kiinnostus <input ng-model="entry.resource.kiinnostus"/><br>
    Luontainen taipumus <input ng-model="entry.resource.taipumus"/><br>
    Henkinen kestävyys <input ng-model="entry.resource.henkinen_kestavyys"/><br>
    Ohjattavuus <input ng-model="entry.resource.ohjattavuus"/><br>
    Tuomari <input ng-model="entry.resource.tuomari"/><br>
    Paikka <input ng-model="entry.resource.paikka"/><br>
    Päivä <input ng-model="entry.resource.paiva"/><br>
  </span>
</script>

<form ng-show="sidepanel.selection == ''">
  <button ng-show="editing" ng-click="save()">Tallenna</button>
  <button ng-show="!editing" ng-click="toggleEdit()">Muuta</button>
  <table>
    <tr>
      <td>Virallinen nimi / muu tunniste</td>
      <td>
	<input ng-show="editing" ng-model="koira.virallinen_nimi"/>
	<span ng-show="!editing">{{koira.virallinen_nimi}}</span>
      </td>
    </tr>
    <tr>
      <td>Kutsumanimi
      <td>
	<input ng-show="editing" ng-model="koira.kutsumanimi"/>
	<span ng-show="!editing">{{koira.kutsumanimi}}</span>
      </td>
    </tr>
    <tr>
      <td>Kennel</td>
      <td>
	<input ng-show="editing" ng-model="koira.kennel"/>
	<span ng-show="!editing">{{koira.kennel}}</span>
      </td>
    </tr>
    <tr>
      <td>Sukupuoli</td>
      <td>
	<select ng-show="editing"
		ng-model="koira.sukupuoli">
	  <option>uros</option>
	  <option>narttu</option>
	</select>
	<span ng-show="!editing">{{koira.sukupuoli}}</span>
      </td>
    </tr>
    <tr>
      <td>Syntymävuosi</td>
      <td>
	<input ng-show="editing" ng-model="koira.syntymavuosi"/>
	<span ng-show="!editing">{{koira.syntymavuosi}}</span>
      </td>
    </tr>
    <tr>
      <td>Syntymäpäivä</td>
      <td>
	<span ng-show="!editing">{{koira.syntymapaiva}}</span>
	<input ng-show="editing" 
	       ng-model="birthday.date" 
	       ng-change="birthdayChange()"
	       ui-date>
      </td>
    </tr>
    <tr>
      <td>Isä</td>
      <td>
	<span ng-show="editing">
	  <select ui-select2 ng-model="koira.isa" data-placeholder="-- Isä --" style="width:200px">
	    <option value=""></option>
	    <option ng-repeat="item in urokset" value="{{item.uri}}">{{item.virallinen_nimi}}</option>
	  </select>
	</span>
	<span ng-show="!editing">{{isa.virallinen_nimi}}</span>
      </td>
    </tr>
    <tr>
      <td>Emä</td>
      <td>
	<span ng-show="editing">
	  <select ui-select2 ng-model="koira.ema" data-placeholder="-- Emä --" style="width:200px">
	    <option value=""></option>
	    <option ng-repeat="item in nartut" value="{{item.uri}}">{{item.virallinen_nimi}}</option>
	  </select>
	</span>
	<span ng-show="!editing">{{ema.virallinen_nimi}}</span>
      </td>
    </tr>
    <tr><td>Tallentaja</td><td>{{koira.author_nick}} {{koira.timestamp}}</td></tr>
  </table>
  <span ng-show="koira_history.length > 0">
    <input type="checkbox" ng-model="koira_show_history">Historia</input>
    <br>
    <span ng-show="koira_show_history" class="history" ng-repeat="h in koira_history">
      <span ng-controller="KoiraHistoryCtrl">
	{{h.virallinen_nimi}}, {{h.kutsumanimi}}, {{h.kennel}}, {{h.sukupuoli}}, {{h.syntymavuosi}}, {{h.syntymapaiva}}, isä {{h_isa.virallinen_nimi}}, emä {{h_ema.virallinen_nimi}},
	({{h.author_nick}}
	{{h.timestamp}})<br>
      </span>
    </span>
  </span>
  <div style="background: AliceBlue;" ng-controller="YhdistysPaimennustaipumusCtrl">
    Paimennustaipumuskoe: 
    <span ng-show="tests.length == 0">ei testattu</span>
    <div ng-repeat="test in tests">
  </div>
</form>
