<script type="text/ng-template" id="paimennus_details">
  Päivä {{entry.resource.paiva}}, 
  Paikka {{entry.resource.paikka}},
  Tuomari {{entry.resource.tuomari}}
  <br>
  Kiinnostus / taipumus / henkinen kestävyys / ohjattavuus:
  {{entry.resource.kiinnostus}} / 
  {{entry.resource.taipumus}} /
  {{entry.resource.henkinen_kestavyys}} /
  {{entry.resource.ohjattavuus}}<br>
  <span class="author_nick">{{entry.resource.author_nick}}</span>
</script>

<script type="text/ng-template" id="paimennus_input">
  <span ng-show="entry">
    Kiinnostus <input ng-model="entry.resource.kiinnostus"/><br>
    Luontainen taipumus <input ng-model="entry.resource.taipumus"/><br>
    Henkinen kestävyys <input ng-model="entry.resource.henkinen_kestavyys"/><br>
    Ohjattavuus <input ng-model="entry.resource.ohjattavuus"/><br>
    Tuomari <input ng-model="entry.resource.tuomari"/><br>
    Paikka <input ng-model="entry.resource.paikka"/><br>
    Päivä <input ng-model="entry.resource.paiva"/><br>
  </span>
  <button ng-show="!entry" ng-click="newTest()">Uusi</button>
</script>

<form>
  Virallinen nimi / muu tunniste:
  <input ng-show="editing" ng-model="koira.virallinen_nimi"/>
  <span ng-show="!editing">{{koira.virallinen_nimi}}</span>
  <span class="author_nick">{{koira.author_nick}}</span>
  <button ng-show="editing" ng-click="save()">Tallenna</button>
  <button ng-show="!editing" ng-click="toggleEdit()">Edit</button>
  <span ng-show="koira_history.length > 0">
    <input type="checkbox" ng-model="koira_show_history">Historia</input>
    <br>
    <span ng-show="koira_show_history" class="history" ng-repeat="h in koira_history">
      {{h.virallinen_nimi}}
      {{h.author_nick}}
      {{h.timestamp}}
    </span>
  </span>
</form>
<span ng-show="existing_koira">
  <form ng-controller="PaimennusCtrl">
    Paimennustaipumuskoe: {{summary}}
    <a href ng-click="toggleExpand()">lisää...</a>
    <br>
    <span ng-show="expanded">
      <span ng-repeat="entry in entries">
	<hr>
	<span ng-show="!entry.editing">
	  <span ng-include="category_name + '_details'"></span>
	</span>
	<span ng-show="entry.editing">
	  <span ng-include="category_name + '_input'"></span>
	</span>
	<button ng-show="!entry.editing" ng-click="toggleEdit(entry)">Edit</button>
	<button ng-show="entry.editing" ng-click="save(entry)">Tallenna</button>
	<hr>
      </span>
      <span ng-include="category_name + '_input'">
      </span>
    </span>
  </form>
</span>
