<div>
  <button class="pull-right btn btn-default" ng-show="editing" ng-click="save()">Tallenna</button>
  <button class="pull-right btn btn-default" ng-show="!editing" ng-click="edit()">Muuta</button>
</div>

<h2>{{koira.virallinen_nimi}}</h2>

<div class="row">
  <div class="col-xs-12">
    <form class="form-inline" role="form">
      <div class="form-group">
	<label for="sukupuu-generations">Sukupolvia</label>
	<input type="text" id="sukupuu-generations" ng-model="generations_text" class="form-control" style="max-width: 50px;">
      </div>
      <button class="btn btn-default" ng-click="updateGenerations()">Muodosta sukupuu</button> {{status}}
    </form>
  </div>
</div>
<br>
<table border="1">
  <tr ng-repeat="row in pedigree">
    <td ng-repeat="element in row"
	ng-show="element.col > 0"
	style="height: 1em; min-width: 5em;",
	rowspan="{{element.rowspan}}"
	ng-controller="PedigreeCellCtrl">
      <a ng-show="!editing" 
	 ng-click="gotoDog()">{{this_cell_dog.virallinen_nimi}}
      </a>
      <input type="text"
	     ng-show="editing && element.sex == 0" 
	     ng-model="name"
	     typeahead="suggestion for suggestion in typeaheadUros($viewValue)">
      <input type="text"
	     ng-show="editing && element.sex == 1" 
	     ng-model="name"
	     typeahead="suggestion for suggestion in typeaheadNarttu($viewValue)">
    </td>
  </tr>
</table>
