<div ng-show="sidepanel.selection == '' || sidepanel.selection == 'perustiedot'">
  <button class="pull-right btn" ng-show="editing" ng-click="save()">Tallenna</button>
  <button class="pull-right btn" ng-show="!editing" ng-click="toggleEdit()">Muuta</button>
  <button class="pull-right btn" 
	  ng-show="!editing && !koira.verified && (koira.kennel == KENNEL || IS_ADMIN)" 
	  ng-click="verify()">
    Hyväksy
  </button>

  <div ng-show="koira.verified == 'true'"><b>Kasvattajan tai ylläpitäjän tarkastama tieto</b></div>
  <div ng-show="koira.verified == 'false'"><b>Tarkastamaton tieto</b></div>
  <form>
    <label>Virallinen nimi / muu tunniste</label>
    <input type="text" ng-readonly="!editing" ng-model="koira.virallinen_nimi">
    <label>Kutsumanimi</label>
    <input type="text" ng-readonly="!editing" ng-model="koira.kutsumanimi">
    <label>Kennel</label>
    <input type="text" ng-readonly="!editing" ng-model="koira.kennel">
    <label>Sukupuoli</label>
    <input type="text" ng-show="!editing" ng-model="koira.sukupuoli" readonly>
    <select ng-show="editing"
	    ng-model="selected_sex"
	    ng-options="selected_sex.sex for selected_sex in sexes">
    </select>

    <label>Syntymäpäivä</label>
    <input ui-date="dateOptions"
	   ng-show="editing"
	   ng-model="birthday.date"
	   ng-change="birthdayChange()"
	   >
    <input type="text" ng-show="!editing" 
	   ng-model="birthday.date_string"
	   readonly>
    <label>Syntymävuosi</label>
    <input  type="text" ng-readonly="!editing" ng-model="koira.syntymavuosi">
    <label>Isä</label>
    <input type="text" 
	   ng-readonly="!editing" 
	   ng-model="isa_nimi" 
	   typeahead="suggestion for suggestion in typeaheadUros($viewValue)">
    <label>Emä</label>
    <input type="text" 
	   ng-readonly="!editing" 
	   ng-model="ema_nimi" 
	   typeahead="suggestion for suggestion in typeaheadNarttu($viewValue)">
    <br>
    <span>Tallentaja: {{koira.author_nick}} {{timestamp | date:'d.M.yyyy H:mm'}}</span>
  </form>
</div>

<div ng-show="sidepanel.selection == 'terveyskysely'"
     ng-controller="TerveyskyselyCtrl"
     >
  <button class="btn pull-right" ng-click="send()">Lähetä</button>
  <h3>Terveyskysely -- {{koira.virallinen_nimi}}</h3>
  <div ng-controller="AutoimmuuniCtrl">
    <label class="checkbox">
    <input type="checkbox" class="btn" ng-model="kysely.autoimmuunisairaus">Koiralla on jokin autoimmuunisairaus
    </label>
    <div collapse="!kysely.autoimmuunisairaus">
      <div class="well well-large">
	<form>
	  <label class="checkbox"><input type="checkbox" ng-model="kysely.slo">SLO</label>
	  <label class="checkbox"><input type="checkbox" ng-model="kysely.imha">IMHA</label>
	</form>
      </div> 
    </div>
  </div>
</div>

<div ng-include="'history_renderer'"></div>
