<div class="well" ng-controller="SearchKoiraCtrl">
  <h3>Etsi koira</h3>
  <div class="row">
    <div class="col-sm-6">
      <form role="form">
	<div class="form-group">
	  <label for="search-koira-input">Virallinen nimi /muu tunniste</label>
	  <div class="input-group">
	    <input type="text"
 		   ng-model="koira"
		   typeahead="suggestion for suggestion in typeahead($viewValue)"
		   class="form-control" 
		   id="search-koira-input" 
		   placeholder="nimi">
	    <span class="input-group-btn">
	      <button class="btn btn-default" ng-click="gotoDog(koira)">Hae</button>
	    </span>
	  </div>
	</div>
      </form>
    </div>
  </div>
</div>
</div>

<div class="well">
  <form ng-controller="UusiKoiraCtrl">
    <fieldset>
      <legend>Uusi koira</legend>
      <label>Virallinen nimi / muu tunniste</label>
      <input type="text" ng-model="koira.virallinen_nimi">
      <label>Sukupuoli</label>
      <select ng-model="selected"
	      ng-options="selected.sex for selected in sexes">
      </select>
      <label></label>
      <button class="btn" ng-click="save()">Tallenna</button>
    </fieldset>
  </form>
</div>
