<div ng-show="sidepanel.selection == '' || sidepanel.selection == 'perustiedot'">
  <button class="pull-right btn btn-default" ng-show="editing" ng-click="save()">Tallenna</button>
  <button class="pull-right btn btn-default" ng-show="!editing" ng-click="toggleEdit()">Muuta</button>
  <button class="pull-right btn btn-default" 
	  ng-show="!editing && !koira.verified && (koira.kennel == KENNEL || IS_ADMIN)" 
	  ng-click="verify()">
    Hyväksy
  </button>

  <div ng-show="koira.verified == 'true'"><b>Kasvattajan tai ylläpitäjän tarkastama tieto</b></div>
  <div ng-show="koira.verified == 'false'"><b>Tarkastamaton tieto</b></div>
</div>
<div>
  <div class="row">
    <div class="col-sm-6">
      <form role="form">
	<div class="form-group">
	  <label for="koira-virallinen">Virallinen nimi / muu tunniste</label>
	  <input type="text" id="" class="form-control" ng-readonly="!editing" ng-model="koira.virallinen_nimi">
	</div>
	<div class="form-group">
	  <label for="koira-kutsuma">Kutsumanimi</label>
	  <input type="text" id="koira-kutsuma" class="form-control" ng-readonly="!editing" ng-model="koira.kutsumanimi">
	</div>
	<div class="form-group">
	  <label for="koira-kennel">Kennel</label>
	  <input type="text" id="koira-kennel" class="form-control" ng-readonly="!editing" ng-model="koira.kennel">
	</div>
	<div class="form-group">
	  <label for="koira-sukupuoli">Sukupuoli</label>
	  <input type="text" id="koira-sukupuoli" class="form-control" ng-show="!editing" ng-model="koira.sukupuoli" readonly> 
	  <select ng-show="editing" id="koira-sukupuoli" class="form-control" ng-model="selected_sex" ng-options="selected_sex.sex for selected_sex in sexes"> </select>
	</div>
	<div class="form-group" ng-show="!editing">
	  <label for="koira-syntymapaiva-ro">Syntymäpäivä</label>
	  <input type="text" 
		 id="koira-syntymapaiva-ro" 
		 class="form-control" 
		 ng-model="birthday.date_string" 
		 readonly/>
	</div>
	<div class="form-group" ng-show="editing">
	  <label for="koira-syntymapaiva">Syntymäpäivä</label>
          <div class="input-group">
            <input id="koira-syntymapaiva"
		   type="text"
		   class="form-control" 
		   ng-model="birthday.date"
		   ng-change="birthdayChange()"
		   datepicker-popup="dd.MM.yyyy" 
		   is-open="opened" 
		   show-weeks="false"
		   show-button-bar="false"
		   close-text="Close" />
            <span class="input-group-btn">
              <button class="btn btn-default" 
		      ng-show="editing" 
		      ng-click="open($event)">
		<i class="glyphicon glyphicon-calendar"></i></button>
            </span>
          </div>
	</div>
	<div class="form-group">
	  <label for="koira-syntymapaiva">Syntymävuosi</label>
	  <input type="text" id="koira-syntymapaiva" class="form-control" ng-readonly="!editing" ng-model="koira.syntymavuosi">
	</div>
	<div class="form-group">
	  <label for="koira-isa">Isä</label>
	  <div class="input-group">
	    <input type="text" id="koira-isa" class="form-control" ng-readonly="!editing" ng-model="isa_nimi" typeahead="suggestion for suggestion in typeaheadUros($viewValue)">
	    <span class="input-group-btn">
	      <button class="btn btn-default form-control" 
		      ng-show="editing"
		      style="max-width: 50px;"
		      ng-click="typeaheadClear()">
		<span class="glyphicon glyphicon-refresh"></span>
	      </button>
	      <button class="btn btn-default form-control" 
		      ng-show="!editing"
		      ng-click="gotoDog(koira.isa)">
		<span class="glyphicon glyphicon-arrow-right"></span>
	      </button>
	    </span>
	  </div>
	</div>
	<div class="form-group">
	  <label for="koira-ema">Emä</label>
	  <div class="input-group">
	    <input type="text" id="koira-ema" class="form-control" ng-readonly="!editing" ng-model="ema_nimi" typeahead="suggestion for suggestion in typeaheadNarttu($viewValue)">
	    <span class="input-group-btn">
	      <button class="btn btn-default form-control" 
		      ng-show="editing"
		      style="max-width: 50px;"
		      ng-click="typeaheadClear()">
		<span class="glyphicon glyphicon-refresh"></span>
	      </button>
	      <button class="btn btn-default form-control" 
		      ng-show="!editing"
		      ng-click="gotoDog(koira.ema)">
		<span class="glyphicon glyphicon-arrow-right"></span>
	      </button>
	    </span>
	  </div>
	</div>
      </form>
    </div>
  </div>
</div>

<div>Tallentaja: {{koira.author_nick}} {{timestamp | date:'d.M.yyyy H:mm'}}</div>

<div ng-show="sidepanel.selection == 'terveyskysely'"
     ng-controller="TerveyskyselyCtrl"
     >
  <button class="btn pull-right" ng-click="send()">Lähetä</button>
  <h3>Terveyskysely -- {{koira.virallinen_nimi}}</h3>
  <div ng-controller="AutoimmuuniCtrl">
    <label class="checkbox">
    <input type="checkbox" class="btn" ng-model="kysely.autoimmuunisairaus">Koiralla on jokin autoimmuunisairaus
    </label>
    <div collapse="!kysely.autoimmuunisairaus">
      <div class="well well-large">
	<form>
	  <label class="checkbox"><input type="checkbox" ng-model="kysely.slo">SLO</label>
	  <label class="checkbox"><input type="checkbox" ng-model="kysely.imha">IMHA</label>
	</form>
      </div> 
    </div>
  </div>
</div>

<div ng-include="'history_renderer'"></div>
