<h3>Terveyskysely -- {{koira.virallinen_nimi}}</h3>

<p>
  <b>Huom!</b> Tämä lomake näennäisesti toimii, mutta tuloksia ei vielä
  talleteta mihinkään. Puutteista ja ongelmista voi raportoida Pertti
  Kellomäelle, osoite etunimi.sukunimi@iki.fi (sukunimi ilman ä:n pisteitä).
</p>
<p>
  Tarkoitus on kerätä koirista tietoa vuosittain. Lomakkeeseen voi
  antaa sähköpostiosoitteen, johon tietokanta lähettää vuoden päästä
  linkin uuteen kyselyyn. Uusi kysely on esitäytetty edellisen kyselyn
  tiedoilla.
</p>
<button ng-show="!create_new" class="btn btn-default" ng-click="createNew()">Vastaa kyselyyn</button>

<div class="well" ng-show="create_new">

  <p>
    Vastaaja: {{kysely.vastaaja}}
  </p>

  <accordion>
    <accordion-group heading="Viralliset tutkimukset">
      <form role="form">
	<div class="form-group">
	  <label for="kysely-lonkka">Virallinen lonkkalausunto</label>
	  <input type="text" class="form-control" id="kysely-lonkka" ng-model="kysely.virallinen_lausunto_lonkka" style="max-width: 5em"/>
	  <label for="kysely-lonkka">Virallinen kyynärlausunto</label>
	  <input type="text" class="form-control" id="kysely-lonkka" ng-model="kysely.virallinen_lausunto_kyynar" style="max-width: 5em"/>
	  <label for="kysely-silma">Virallinen silmälausunto</label>
	  <input type="text" class="form-control" id="kysely-lonkka" ng-model="kysely.virallinen_lausunto_silma" style="max-width: 5em"/>
	</div>
	Muut viralliset lausunnot
	<div>
	  <textarea ng-model="kysely.virallinen_lausunto_muut"
                    class="form-control resizable(@direction: vertical)"
		    rows="4">
	  </textarea>
	</div>


      </form>
    </accordion-group>
    <accordion-group heading="Luusto ja nivelet">
      <form role="form">
	<label class="checkbox">
	  <input type="checkbox" 
		 ng-model="kysely.luusto_nivel_operoitu">
	  Koira on operoitu jonkin luusto- tai nivelsairauden takia
	</label>
	Kerro leikkauksesta tarkemmin: oireet, diagnoosi, minkä ikäisenä leikkaus tehtiin, kuinka koira parani leikkauksen jälkeen.
	<div>
	  <textarea ng-model="kysely.luusto_nivel_operoitu_lisaselvitys"
                    class="form-control resizable(@direction: vertical)"
		    rows="4">
	  </textarea>
	</div>
	<label class="checkbox">
	  <input type="checkbox" 
		 ng-model="kysely.luusto_nivel_tutkittu">
	  Koiraa on tutkittu jonkin luusto- tai nivelsairauden takia
	</label>
	Kerro tarkemmin: oireet, diagnoosi, minkä ikäisenä tutkimus tehtiin.
	<div>
	  <textarea ng-model="kysely.luusto_nivel_tutkittu_lisaselvitys"
                    class="form-control resizable(@direction: vertical)"
		    rows="4">
	  </textarea>
	</div>
	<label class="checkbox">
	  <input type="checkbox" 
		 ng-model="kysely.selkarankamuutokset">
	  Koiralla on todettu muutoksia selkärangassa
	</label>
	Kerro muutoksista tarkemmin: oireet, diagnoosi, minkä ikäisenä muutokset havaittiin, mahdollinen lääkitys
	<div>
	  <textarea ng-model="kysely.selkarankamuutokset_lisaselvitys"
                    class="form-control resizable(@direction: vertical)"
		    rows="4">
	  </textarea>
	</div>

      </form>
    </accordion-group>
    <accordion-group heading="Tulehdussairaudet">
      Onko koiralla todettu lääkehoidolla hoidettuja tulehdussairauksia useammin kuin kerran?
      <form role="form">
	<label class="checkbox"><input type="checkbox" ng-model="kysely.korvatulehdus">Korvatulehdus</label>
	<label class="checkbox"><input type="checkbox" ng-model="kysely.virtsatietulehdus">Virtsatietulehdus</label>
	<label class="checkbox"><input type="checkbox" ng-model="kysely.anaalirauhastulehdus">Anaalirauhastulehdus</label>
	<label class="checkbox"><input type="checkbox" ng-model="kysely.eturauhastulehdus">Eturauhastulehdus</label>
	<label class="checkbox"><input type="checkbox" ng-model="kysely.silmatulehdus">Silmätulehdus</label>
	<label class="checkbox"><input type="checkbox" ng-model="kysely.suolistotulehdus">Suolistotulehdus</label>
	<label class="checkbox"><input type="checkbox" ng-model="kysely.tulehtunut_rasvapatti">Tulehtunut rasvapatti</label>
	<label class="checkbox"><input type="checkbox" ng-model="kysely.kohtutulehdus">Kohtutulehdus</label>
	<label class="checkbox"><input type="checkbox" ng-model="kysely.muu_tulehdus">Jokin muu tulehdus</label>
      </form>
      Kerro tarkemmin: kuinka usein sairauksia on ollut? Jos jokin listaamaton tulehdus, mikä?
      <div>
	<textarea ng-model="kysely.tulehdussairaudet_lisaselvitys"
                  class="form-control resizable(@direction: vertical)"
		  rows="4">
	</textarea>
      </div>
    </accordion-group>
    <accordion-group heading="Muut sairaudet">
      Onko koiralla jokin seuraavista sairauksista:
      <form role="form">
	<label class="checkbox"><input type="checkbox" ng-model="kysely.slo">SLO</label>
	<label class="checkbox"><input type="checkbox" ng-model="kysely.imha">IMHA</label>
	<label class="checkbox"><input type="checkbox" ng-model="kysely.addison">Addisonin tauti</label>
	<label class="checkbox"><input type="checkbox" ng-model="kysely.kilpirauhasen_vajaatoiminta">Kilpirauhasen vajaatoiminta</label>
	<label class="checkbox"><input type="checkbox" ng-model="kysely.munuaisten_vajaatoiminta">Munuaisten vajaatoiminta</label>
	<label class="checkbox"><input type="checkbox" ng-model="kysely.haiman_vajaatoiminta">Haiman vajaatoiminta</label>
	<label class="checkbox"><input type="checkbox" ng-model="kysely.sle">SLE</label>
	<label class="checkbox"><input type="checkbox" ng-model="kysely.itp">ITP</label>
	<label class="checkbox"><input type="checkbox" ng-model="kysely.epilepsia">Epilepsia</label>
	<label class="checkbox"><input type="checkbox" ng-model="kysely.sydanvika">Sydänvika</label>
	<label class="checkbox"><input type="checkbox" ng-model="kysely.virtsakivet">Virtsakiviä</label>
	<label class="checkbox"><input type="checkbox" ng-model="kysely.cushing">Cushingin tauti</label>
	<label class="checkbox"><input type="checkbox" ng-model="kysely.allergia">Allergia</label>
	<label class="checkbox"><input type="checkbox" ng-model="kysely.diabetes">Diabetes</label>
	<label class="checkbox"><input type="checkbox" ng-model="kysely.lihassurkastuma">Jokin lihassurkastumasairaus</label>
      </form>
      Kerro tarkemmin: sairastumisikä, allergeenit, lääkitys jne.
      <div>
	<textarea ng-model="kysely.muut_sairaudet_lisaselvitys"
                  class="form-control resizable(@direction: vertical)"
		  rows="4">
	</textarea>
      </div>
      <label class="checkbox">
	<input type="checkbox" 
	       ng-model="kysely.hyvanlaatuinen_kasvain">
	Koiralla on ollut hyvänlaatuisia kasvaimia
      </label>
      Kerro tarkemmin: missä kasvaimia oli, onko ne poistettu, ovatko ne uusiutuneet?
      <div>
	<textarea ng-model="kysely.hyvanlaatuinen_kasvain_lisaselvitys"
                  class="form-control resizable(@direction: vertical)"
		  rows="4">
	</textarea>
      </div>
      <label class="checkbox">
	<input type="checkbox" 
	       ng-model="kysely.syopa">
	Koiralla on todettu syöpä
      </label>
      Kerro tarkemmin: minkälaatuinen syöpä, minkä ikäisenä? Selvisikö koirasi sairaudesta?
      <div>
	<textarea ng-model="kysely.syopa_lisaselvitys"
                  class="form-control resizable(@direction: vertical)"
		  rows="4">
	</textarea>
      </div>
      <label class="checkbox">
	<input type="checkbox" 
	       ng-model="kysely.napatyra">
	Koiralla on ollut napatyrä.
      </label>
      <label class="checkbox">
	<input type="checkbox" 
	       ng-model="kysely.napatyra_leikattu">
	Napatyrä on leikattu.
      </label>
    </accordion-group>
    <accordion-group heading="Hampaat">
      <label class="checkbox">
	<input type="checkbox" 
	       ng-model="kysely.leikkaava_purenta">
	Leikkaava purenta
      </label>
      <label class="checkbox">
	<input type="checkbox" 
	       ng-model="kysely.tasapurenta">
	Tasapurenta
      </label>
      <label class="checkbox">
	<input type="checkbox" 
	       ng-model="kysely.alapurenta">
	Alapurenta
      </label>
      <label class="checkbox">
	<input type="checkbox" 
	       ng-model="kysely.ylapurenta">
	Yläpurenta
      </label>
      <label class="checkbox">
	<input type="checkbox" 
	       ng-model="kysely.hammaspuutos_p1_p4">
	Hammaspuutos väliposkihampaissa P1-P4
      </label>
      <label class="checkbox">
	<input type="checkbox" 
	       ng-model="kysely.hammaspuutos_etuhampaat">
	Hammaspuutos etuhampaissa
      </label>
      <label class="checkbox">
	<input type="checkbox" 
	       ng-model="kysely.hammaspuutos_poskihampaat">
	Hammaspuutos poskihampaissa
      </label>
      <label class="checkbox">
	<input type="checkbox" 
	       ng-model="kysely.liikahampaat">
	Liikahampaita
      </label>
      Kerro tarkemmin: puuttuvien tai liikahampaiden määrä.
      <div>
	<textarea ng-model="kysely.hammaspuutos_liikahammas_lisaselvitys"
                  class="form-control resizable(@direction: vertical)"
		  rows="4">
	</textarea>
      </div>
      <label class="checkbox">
	<input type="checkbox" 
	       ng-model="kysely.kitalakeen_painuvat_kulmahampaat_pentuna">
	Kitalakeen painuvat kulmahampaat pentuna
      </label>
      <label class="checkbox">
	<input type="checkbox" 
	       ng-model="kysely.kitalakeen_painuvat_kulmahampaat_aikuisena">
	Kitalakeen painuvat kulmahampaat aikuisena
      </label>
    </accordion-group>
    <accordion-group heading="Lisääntyminen ja hedelmällisyys">
      <h5>Uros</h5>
      Kivekset
      <label class="checkbox">
	<input type="checkbox" 
	       ng-model="kysely.kives_normaali">
	Normaalit kivekset
      </label>
      <label class="checkbox">
	<input type="checkbox" 
	       ng-model="kysely.kives_toispuoleinen_puutos">
	Toispuoleinen kivespuutos
      </label>
      <label class="checkbox">
	<input type="checkbox" 
	       ng-model="kysely.kives_molemminpuolinen_puutos">
	Molemminpuolinen kivespuutos
      </label>
      <label class="checkbox">
	<input type="checkbox" 
	       ng-model="kysely.kives_hissikives">
	Hissikives
      </label>
      <label class="checkbox">
	<input type="checkbox" 
	       ng-model="kysely.kives_myohaan_laskeutunut">
	Myöhään laskeutunut kives (yli 6kk ikäisenä)
      </label>

      Astuminen
      </label>
      <label class="checkbox">
	<input type="checkbox" 
	       ng-model="kysely.uros_astuminen">
	Uros on astunut nartun
      </label>
      <label class="checkbox">
	<input type="checkbox" 
	       ng-model="kysely.uros_astuminen_helppo">
	Astutustapahtuma oli helppo, eli uros astui innokkaasti ja jäi kiinni
      </label>
      <label class="checkbox">
	<input type="checkbox" 
	       ng-model="kysely.uros_astuminen_ongelmia">
	Astutustapahtumassa oli ongelmia
      </label>
      Kerro tarkemmin mahdollisista ongelmista.
      <div>
	<textarea ng-model="kysely.uros_astuminen_lisaselvitys"
                  class="form-control resizable(@direction: vertical)"
		  rows="4">
	</textarea>
      </div>
      <label class="checkbox">
	<input type="checkbox" 
	       ng-model="kysely.uros_jalkelaisia">
	Uroksella on jälkeläisiä.
      </label>
      <label class="checkbox">
	<input type="checkbox" 
	       ng-model="kysely.uros_jalkelaisissa_sairauksia_vikoja">
	Uroksen jälkeläisillä on esiintynyt sairauksia
      tai synnynnäisiä vikoja
      </label>
      Kerro tarkemmin: minkälaisia ongelmia, missä yhdistelmässä (nartun
      virallinen nimi)?
      <div>
	<textarea ng-model="kysely.uros_jalkelaiset_lisaselvitys"
                  class="form-control resizable(@direction: vertical)"
		  rows="4">
	</textarea>
      </div>

      <h5>Narttu</h5>

      <label class="checkbox">
	<input type="checkbox" 
	       ng-model="kysely.narttu_valeraskauksia">
	Nartulla on valeraskauksia
      </label>
      <label class="checkbox">
	<input type="checkbox" 
	       ng-model="kysely.narttu_saannollinen_kiima">
	Nartun kiimakierto on säännöllinen
      </label>
      <label for="kysely-kiimakierto">Kiimakierron pituus</label>
      <input type="text" class="form-control" id="kysely-kiimakierto" ng-model="kysely.narttu_kiimakierron_pituus" style="max-width: 5em"/>
      <label class="checkbox">
	<input type="checkbox" 
	       ng-model="kysely.narttu_kaytetty_jalostukseen">
	Narttua on käytetty tai yritetty käyttää jalostukseen
      </label>
      <label class="checkbox">
	<input type="checkbox" 
	       ng-model="kysely.narttu_ei_anna_astua">
	Narttu ei anna astua
      </label>
      <label class="checkbox">
	<input type="checkbox" 
	       ng-model="kysely.narttu_jaanyt_tyhjaksi">
	Narttu on onnistuneen astutuksen jälkeen jäänyt tyhjäksi
      </label>
      <label class="checkbox">
	<input type="checkbox" 
	       ng-model="kysely.narttu_raskaus_keskeytynyt">
	Nartun raskaus on keskeytynyt vähintään kerran
      </label>
      <label class="checkbox">
	<input type="checkbox" 
	       ng-model="kysely.narttu_ei_hoida_pentuja_hyvin">
	Narttu ei hoida pentujaan hyvin
      </label>
      Kerro ongelmista tarkemmin
      <div>
	<textarea ng-model="kysely.narttu_jalostus_lisaselvitys"
                  class="form-control resizable(@direction: vertical)"
		  rows="4">
	</textarea>
      </div>

    </accordion-group>
    <accordion-group heading="Luonne">
      <label class="checkbox">
	<input type="checkbox" 
	       ng-model="kysely.paukkuarka">
	Koira on paukkuarka
      </label>
      <label class="checkbox">
	<input type="checkbox" 
	       ng-model="kysely.aaniherkka">
	Koira on muuten ääniherkkä
      </label>
      <label class="checkbox">
	<input type="checkbox" 
	       ng-model="kysely.stressaa_helposti">
	Koiralla on yleisesti herkkyyttä stressaamiseen
      </label>
      Kerro tarkemmin
      <div>
	<textarea ng-model="kysely.aaniherkkyys_stressaus_lisaselvitys"
                  class="form-control resizable(@direction: vertical)"
		  rows="4">
	</textarea>
      </div>
      <label class="checkbox">
	<input type="checkbox" 
	       ng-model="kysely.muut_pelot">
	Koira pelkää jotain muuta
      </label>
      Kerro tarkemmin: mitä se pelkää, miten koira käytäytyy?
      <div>
	<textarea ng-model="kysely.muut_pelot_lisaselvitys"
                  class="form-control resizable(@direction: vertical)"
		  rows="4">
	</textarea>
      </div>
      Onko koirasi luonnetestattu? Jos on, kerro muuttuiko koiran
      käytös mielestäsi jotenkin testin jälkeen. Oliko testin jokin
      osa-alue koiralle erityisen vaikea selvittää? Jos niin mikä?
      <div>
	<textarea ng-model="kysely.luonnetesti_lisaselvitys"
                  class="form-control resizable(@direction: vertical)"
		  rows="4">
	</textarea>
      </div>

    </accordion-group>
    <accordion-group heading="Muuta huomioitavaa">
      Muuta kommentoitavaa koirasi terveydestä tai luonteesta:
      <div>
	<textarea ng-model="kysely.muuta_huomioitavaa"
                  class="form-control resizable(@direction: vertical)"
		  rows="4">
	</textarea>
      </div>
    </accordion-group>
    <accordion-group heading="Lähetä">
      <form role="form">
	<label for="terveyskysely-email">Haluan vuoden päästä muistutuspostin osoitteeseen</label>
	<input id="terveyskysely-email" class="form-control" type="text" placeholder="sähköposti">
	<button class="btn btn-default" ng-click="send()">Lähetä tiedot</button>
      </form>
    </accordion-group>
  </accordion>
</div>

<h3 ng-show="kyselyt.length > 0">Aikaisemmat kyselyt</h3>

<accordion close-others="false">
  <accordion-group ng-repeat="kysely in kyselyt" heading="{{kysely.vastaaja}} {{kysely.timestamp | date:'d.M.yyyy'}}">
    <h3>{{kysely.koira_virallinen_nimi}}</h3>
    <h4>Viralliset tutkimukset</h4>

    <p>Lonkkalausunto: {{kysely.virallinen_lausunto_lonkka}},
      kyynärlausunto: {{kysely.virallinen_lausunto_kyynar}}.
      silmälausunto: {{kysely.virallinen_lausunto_silma}}.
    </p>
    <p style="white-space: pre-wrap;">
      {{kysely.virallinen_lausunto_muut}}
    </p>

    <h4>Luusto ja nivelet</h4>

    <p ng-show="kysely.luusto_nivel_operoitu">
      Koira on operoitu jonkin luusto- tai nivelsairauden takia. 
    </p>
    <p style="white-space: pre-wrap;">
      {{kysely.luusto_nivel_operoitu_lisaselvitys}}
    </p>

    <p ng-show="kysely.luusto_nivel_tutkittu">
      Koiraa on tutkittu jonkin luusto- tai nivelsairauden takia. 
      {{kysely.luusto_nivel_tutkittu_lisaselvitys}}
    </p>
    
    <p ng-show="kysely.selkarankamuutokset">
      Koiralla on todettu muutoksia selkärangassa.
      {{kysely.selkarankamuutokset_lisaselvitys}}
    </p>
    
    <h4>Tulehdussairaudet</h4>

    <p>
    Koiralla on ollut toistuvasti: 
    <span ng-show="kysely.korvatulehdus">korvatulehdus, </span>
    <span ng-show="kysely.virtsatietulehdus">virtsatietulehdus, </span>
    <span ng-show="kysely.anaalirauhastulehdus">anaalirauhastulehdus, </span>
    <span ng-show="kysely.eturauhastulehdus">eturauhastulehdus, </span>
    <span ng-show="kysely.silmatulehdus">silmätulehdus, </span>
    <span ng-show="kysely.suolistotulehdus">suolistotulehdus, </span>
    <span ng-show="kysely.tulehtunut_rasvapatti">tulehtunut rasvapatti, </span>
    <span ng-show="kysely.kohtutulehdus">kohtutulehdus, </span>
    <span ng-show="kysely.muu_tulehdus">jokin muu tulehdus </span>
    <p>
    <p style="white-space: pre-wrap;">{{kysely.tulehdussairaudet_lisaselvitys}}</p>

    <h4>Muut sairaudet</h4>

    <p>
      Koiralla on: 
      <span ng-show="kysely.slo">SLO, </span>
      <span ng-show="kysely.imha">IMHA, </span>
      <span ng-show="kysely.addison">Addisonin tauti, </span>
      <span ng-show="kysely.kilpirauhasen_vajaatoiminta">kilpirauhasen vajaatoiminta, </span>
      <span ng-show="kysely.munuaisten_vajaatoiminta">munuaisten vajaatoiminta, </span>
      <span ng-show="kysely.haiman_vajaatoiminta">haiman vajaatoiminta, </span>
      <span ng-show="kysely.sle">SLE, </span>
      <span ng-show="kysely.itp">ITP, </span>
      <span ng-show="kysely.epilepsia">epilepsia, </span>
      <span ng-show="kysely.sydanvika">sydänvika, </span>
      <span ng-show="kysely.virtsakivet">virtsakiviä, </span>
      <span ng-show="kysely.cushing">Cushingin tauti, </span>
      <span ng-show="kysely.allergia">allergia, </span>
      <span ng-show="kysely.diabetes">diabetes, </span>
      <span ng-show="kysely.lihassurkastuma">jokin lihassurkastumasairaus </span>
    </p>
    <p style="white-space: pre-wrap;">{{kysely.muut_sairaudet_lisaselvitys}}</p>

    <p ng-show="kysely.hyvanlaatuinen_kasvain">
      Koiralla on ollut hyvänlaatuisia kasvaimia.
      {{kysely.hyvanlaatuinen_kasvain_lisaselvitys}}
    </p>

    <p ng-show="kysely.syopa">
      Koiralla on todettu syöpä.
      {{kysely.syopa_lisaselvitys}}
    </p>

    <p ng-show="kysely.napatyra">Koiralla on ollut napatyrä. <span ng-show="kysely.napatyra_leikattu">Tyrä on leikattu.</span></p>

    <h4>Hampaat</h4>

    <span ng-show="kysely.leikkaava_purenta">Leikkaava purenta. </span>
    <span ng-show="kysely.tasapurenta">Tasapurenta. </span>
    <span ng-show="kysely.alapurenta">Alapurenta. </span>
    <span ng-show="kysely.ylapurenta">Yläpurenta. </span>

    <span ng-show="kysely.hammaspuutos_p1_p4">Hammaspuutos väliposkihampaissa P1-P4. </span>
    <span ng-show="kysely.hammaspuutos_etuhampaat">Hammaspuutos etuhampaissa. </span>
    <span ng-show="kysely.hammaspuutos_poskihampaat">Hammaspuutos poskihampaissa. </span>
    <span ng-show="kysely.liikahampaat">Liikahampaita. </span>
    <p style="white-space: pre-wrap;">{{kysely.hammaspuutos_liikahammas_lisaselvitys}}</p>
    <span ng-show="kysely.kitalakeen_painuvat_kulmahampaat_pentuna">Kitalakeen painuvat kulmahampaat pentuna. </span>
    <span ng-show="kysely.kitalakeen_painuvat_kulmahampaat_aikuisena">Kitalakeen painuvat kulmahampaat aikuisena. </span>

    <h4>Lisääntyminen ja hedelmällisyys</h4>

    <h5>Uros</h5>
    <p>
      Koiralla on 
      <span ng-show="kysely.kives_normaali">normaalit kivekset </span>
      <span ng-show="kysely.kives_toispuoleinen_puutos">toispuoleinen kivespuutos </span>
      <span ng-show="kysely.kives_molemminpuolinen_puutos">molemminpuolinen kivespuutos </span>
      <span ng-show="kysely.kives_hissikives">hissikives </span>
      <span ng-show="kysely.kives_myohaan_laskeutunut">myöhään laskeutunut kives (yli 6kk ikäisenä) </span>
    </p>
    <p>
      <span ng-show="kysely.uros_astuminen">Uros on astunut nartun. </span>
      <span ng-show="kysely.uros_astuminen_helppo">Astutustapahtuma oli helppo, eli uros astui innokkaasti ja jäi kiinni. </span>
      <span ng-show="kysely.uros_astuminen_ongelmia">Astutustapahtumassa oli ongelmia. </span>
      {{kysely.uros_astuminen_lisaselvitys}}
    </p>
    <p>
      <span ng-show="kysely.uros_jalkelaisia">Uroksella on jälkeläisiä. </span>
      <span ng-show="kysely.uros_jalkelaisissa_sairauksia_vikoja">
	Uroksen jälkeläisillä on esiintynyt sairauksia tai synnynnäisiä vikoja.
      </span>
      {{kysely.uros_jalkelaiset_lisaselvitys}}
    </p>
    <h5>Narttu</h5>

    <p>
      <span ng-show="kysely.narttu_valeraskauksia">Nartulla on valeraskauksia. </span>
      <span ng-show="kysely.narttu_saannollinen_kiima">Nartun kiimakierto on säännöllinen. </span>
      Nartun kiimakierron pituus on {{kysely.narttu_kiimakierron_pituus}}.
      <span ng-show="kysely.narttu_kaytetty_jalostukseen">Narttua on käytetty tai yritetty käyttää jalostukseen. </span>
      <span ng-show="kysely.narttu_ei_anna_astua">Narttu ei anna astua. </span>
      <span ng-show="kysely.narttu_jaanyt_tyhjaksi">Narttu on onnistuneen astutuksen jälkeen jäänyt tyhjäksi. </span>
      <span ng-show="kysely.narttu_raskaus_keskeytynyt">Nartun raskaus on keskeytynyt vähintään kerran. </span>
      <span ng-show="kysely.narttu_ei_hoida_pentuja_hyvin">Narttu ei hoida pentujaan hyvin. </span>
    </p>
    <p style="white-space: pre-wrap;">{{kysely.narttu_jalostus_lisaselvitys}}</p>

    <h4>Luonne</h4>

    <p>
      <span ng-show="kysely.paukkuarka">Koira on paukkuarka. </span>
      <span ng-show="kysely.aaniherkka">Koira on muuten ääniherkkä. </span>
      <span ng-show="kysely.stressaa_helposti">Koiralla on yleisesti herkkyyttä stressaamiseen. </span>
    </p>
    <p style="white-space: pre-wrap;">{{kysely.aaniherkkyys_stressaus_lisaselvitys}}</p>
    <p>
      <span ng-show="kysely.muut_pelot">Koira pelkää jotain muuta.</span>
    </p>
    <p style="white-space: pre-wrap;">{{kysely.muut_pelot_lisaselvitys}}</p>
    <p style="white-space: pre-wrap;">{{kysely.luonnetesti_lisaselvitys}}</p>

    <h4>Muuta huomioitavaa</h4>
    <p style="white-space: pre-wrap;">{{kysely.muuta_huomioitavaa}}</p>

  </accordion-group>
</accordion>


