
<script type="text/ng-template" id="search_dog_modal.html">
   <div class="well">
      <div class="modal-header">
      <h3 class="modal-title">Valitse koira</h3>
  </div>
   <div class="modal-body">
  <div>
    <form role="form">
      <div class="form-group">
        <label for="search-koira-input">Virallinen nimi /muu tunniste</label>
        <div class="input-group" ng-controller="DogNameCompleteCtrl">
          <input type="text"
                 autocomplete="off"
                 ng-model="candidate.virallinen_nimi"
                 typeahead="suggestion for suggestion in typeahead($viewValue)"
                 class="form-control" 
                 id="search-koira-input" 
                 placeholder="nimi">
          <span class="input-group-btn">
            <button class="btn btn-default form-control" 
                    id="search-koira-clear"
                    style="max-width: 50px;"
                    ng-click="typeaheadClear()">
              <span class="glyphicon glyphicon-refresh"></span>
            </button>
          </span>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="modal-footer">
   <button class="btn btn-primary" ng-click="ok()">Hyväksy</button>
   <button class="btn btn-warning" ng-click="cancel()">Peruuta</button>
</div>
</div>
</script>

<h2>Käsiteltävät terveyskyselyt</h2>

<h3>Anonyymit vastaukset</h3>

<table class="table table-bordered">
    <tr><th>Päivämäärä</th><th>Koira</th><th>Email</th><th></th></tr>
  <tbody ng-repeat="submission in confirm_dog_submissions"
         ng-controller="TerveyskyselyConfirmDogCtrl">
    <tr>
      <td>{{submission.created | date:'dd.MM.yyyy'}}</td>
      <td ng-show="koira.uri !== undefined"><a ng-href="/#/koira/terveyskysely{{koira.uri}}">{{koira.virallinen_nimi}}</a></td>
      <td ng-show="koira.uri === undefined">
        {{submission.dog_name}}
      </td>
      <td>{{submission.email}}</td>
      <td>
          <button class="btn btn-default btn-success" ng-show="originally_undefined" ng-disabled="koira.uri !== undefined" ng-click="open()">Etsi/luo koira</button>
          <button class="btn btn-default btn-success" ng-disabled="koira.uri === undefined || submission.koira !== undefined" ng-click="confirm()">Vahvista</button>
      </td>
    </tr>
  </tbody>
</table>

