

<h2>{{kysely.title}} {{koira.virallinen_nimi}}</h2>

<button class="btn btn-success" ng-show="logged_in && koira == undefined" ng-click="showDogSearch()">Valitse koira</button>
<div ng-show="!logged_in">
  <div class="row" ng-controller="DogNameCompleteCtrl">
    <div class="col-xs-4">
      <form role="form">
	<div class="form-group">
	  <label for="search-koira-input">Virallinen nimi /muu tunniste</label>
	  <input type="text"
                 autocomplete="off"
 		 ng-model="submission.dog_name"
		 typeahead="suggestion for suggestion in typeahead($viewValue)"
		 class="form-control" 
		 id="search-koira-input" 
		 placeholder="nimi">
	</div>
      </form>
    </div>
    <div class="col-xs-4">
      <div class="form-group">
	<label for="set-dog">&nbsp;</label>
	<form role="form">
	  <button class="btn btn-default"
		  id="set-dog" 
		  ng-click="enableQuestions()" 
		  ng-disabled="submission.dog_name === undefined || submission.dog_name.length === 0">
	    Täytä kysely
	  </button>
	</form>
      </div>
    </div>
  </div>
</div>

<div collapse="isCollapsed">
  <div ng-include="'search_dog.html'"></div> 
</div>

<div class="row">
  <span class="col-xs-4"><b>Sähköpostiosoitteesi</b></span>
  <form class="col-xs-8">
    <input type="text" class="form-control" ng-disabled="questionsDisabled()" ng-model="kysely.email">
  </form>
</div>

<hr>

<div ng-repeat="question in questions">
    <div class="row" ng-controller="TerveyskyselyQuestionAnswerCtrl" ng-include="question.question_kind + '_question_renderer.html'"></div>
    <hr>
</div>
<button ng-disabled="questionsDisabled()" class="btn btn-success" ng-click="sendAnswer()">Lähetä vastaus</button>


