<script type="text/ng-template" id="free_text_question_renderer.html">
  <div class="col-xs-4" style="white-space: pre-wrap"><b>{{question.position}}.</b> {{question.question}}</div>
  <div class="col-xs-8" ng-show="koira != undefined"><textarea ng-model="answer.free_text_answer" placeholder="Vastaa tähän..." class="form-control"></textarea></div>
</script>
<script type="text/ng-template" id="boolean_question_renderer.html">
  <div class="col-xs-12">
    <div class="row">
      <div class="col-xs-4" style="white-space: pre-wrap"><b>{{question.position}}.</b> {{question.question}}
      </div>
      <div class="col-xs-8" ng-show="koira != undefined">
        <form role="form" class="form-inline">
          <label class="checkbox">
            <input ng-model="yesno.yes" ng-change="changeYesno('yes')" type="checkbox">Kyllä
          </label>
          <label class="checkbox">
            <input ng-model="yesno.no" ng-change="changeYesno('no')" type="checkbox">Ei
          </label>
        </form>
      </div>
    </div>
    <div class="row">
      <div ng-show="question.detail_question.length > 0" class="col-xs-4" style="white-space: pre-wrap">{{question.detail_question}}</div>
      <div ng-show="question.detail_question == undefined || question.detail_question.length == 0" class="col-xs-4" style="white-space: pre-wrap">Lisätietoja:</div>
      <div class="col-xs-8" ng-show="koira != undefined">
        <textarea ng-model="answer.detail_answer" placeholder="Kerro lisätietoja tähän..." class="form-control"></textarea>
      </div>
    </div>
  </div>
</script>

<h2>{{kysely.title}} {{koira.virallinen_nimi}}</h2>

<button class="btn btn-success" ng-click="showDogSearch()">Valitse koira</button>

<div collapse="isCollapsed">
		<div ng-include="'search_dog.html'"></div> 
</div>

<div ng-repeat="question in questions">
    <div class="row" ng-controller="TerveyskyselyQuestionAnswerCtrl" ng-include="question.question_kind + '_question_renderer.html'"></div>
    <hr>
</div>
<button class="btn btn-success" ng-click="sendAnswer()">Lähetä vastaus</button>


