<h2>Terveyskyselyn yhteenveto</h2>

<div ng-repeat="question in questions"
     ng-controller="TerveyskyselyQuestionSummaryCtrl">
    <div class="row">
        <div class="col-xs-6">{{question.question}}</div>
        <div class="col-xs-6">{{question.detail_question}}</div>
    </div>
    <div ng-repeat="summary in summaries">
        <i>
        {{summary.year}}: Vastauksia {{summary.answer_count}} kpl
	<span ng-show="question.question_kind == 'boolean'">
        , kyllä {{summary.yes_count}} kpl,
        ei {{summary.no_count}} kpl.
	</span>
        </i>
    </div>
    <hr>
</div>

<h2>Vastaukset</h2>

<table class="table table-bordered">
    <tr><th>Päivämäärä</th><th>Koira</th><th>Vastaaja</th></tr>
  <tbody ng-repeat="submission in submissions"
         ng-controller="TerveyskyselySubmissionHeadingReadonlyCtrl">
    <tr>
      <td>{{submission.created | date:'dd.MM.yyyy'}}</td>
      <td ng-show="koira !== undefined"><a ng-href="/#/koira/terveyskysely{{koira.uri}}">{{koira.virallinen_nimi}}</a></td>
      <td ng-show="koira === undefined">{{submission.dog_name}}</td>
      <td>{{submission.email}}<span ng-show="submission.email === undefined">(piilotettu)</span></td>
    </tr>
  </tbody>
</table>
