<!doctype html>
<html lang="en" ng-app="myApp">
<head>
  <meta charset="utf-8">
  <title>PROTOTYYPPI Jalostustietokanta -- Suomen Partacolliet ry.</title>
  <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
  <link rel="stylesheet" href="css/app.css"/>
</head>
<body>
<div id="header"><!-- begin header -->
  <h1>Jalostustietokanta -- Suomen Partacolliet ry.</h1>

  <span ng-controller="LoginStatusCtrl">
    <span ng-show="login_status.logged_in">
      Olet kirjautunut käyttäjänä {{login_status.nick}}
      <span ng-show="login_status.is_admin">ADMIN</span>
    </span>
    <span ng-show="!login_status.logged_in">
      Et ole kirjautunut
    </span>
  </span>
  <div class="container">
    <div class="navbar" ng-controller="NavListController">
      <div class="navbar-inner">
	<ul class="nav">
	  <li ng-class="'nav-menu-btn ' + navClass('etusivu')"><a href="#/etusivu">Etusivu</a></li>
	  <li ng-class="'nav-menu-btn ' + navClass('koira') + navClass('koira_etusivu')"><a href="#/koira_etusivu">Koirat</a></li>
	  <li ng-class="'nav-menu-btn ' + navClass('kennel') + navClass('kennel_etusivu')"><a href="#/kennel_etusivu">Kennelit</a></li>
	  <li ng-class="'nav-menu-btn ' + navClass('kirjaudu')"><a href="#/login">Kirjaudu</a></li>
	</ul>
      </div>
    </div>
  </div>
</div><!-- end header -->


	<div id="wrapper"><!-- sets background to white and creates full length leftcol -->
	
		<div id="maincol"><!-- begin main content area -->
				
			<div id="leftcol" ng-controller="LeftcolCtrl"><!-- begin leftcol -->
                        <span ng-include="path_start + '_sidepanel.html'"></span>
			</div><!-- end leftcol -->
				
			<div id="centercol"><!-- begin centercol -->
				  <div ng-view></div>
			</div><!-- end centercol -->
				
		</div><!-- end main content area -->
				
		<div id="footer"><!-- begin footer -->
			Suomen Partacolliet ry.
		</div><!-- end footer -->
	
	</div><!-- end wrapper -->

<script type="text/ng-template" id="_sidepanel.html">
</script>
<script type="text/ng-template" id="login_sidepanel.html">
</script>
<script type="text/ng-template" id="etusivu_sidepanel.html">
</script>
<script type="text/ng-template" id="koira_etusivu_sidepanel.html">
</script>

<script type="text/ng-template" id="koira_sidepanel.html">
  <h2>Koira</h2>
  <ul class="nav nav-pills nav-stacked" ng-controller="KoiraSidepanelCtrl">
    <li ng-class="navClass('perustiedot') + navClass('')"><a ng-click="gotoSubview('perustiedot')">Perustiedot</a></li>
    <li ng-class="navClass('sukupuu')"><a ng-click="gotoSubview('sukupuu')">Sukupuu</a></li>
    <li ng-class="navClass('paimennustaipumus')"><a ng-click="gotoSubview('paimennustaipumus')">Paimennustaipumus</a></li>
<!--
    <li ng-class="navClass('terveyskysely')"><a ng-click="gotoSubview('terveyskysely')">Terveyskysely</a></li>
-->
  </ul>
</script>

<script type="text/ng-template" id="kennel_etusivu_sidepanel.html">
</script>

<script type="text/ng-template" id="history_renderer">
  <div ng-if="history_target != undefined">
    <form>
      <label class="checkbox"><input type="checkbox" ng-model="show_history">Muutoshistoria</label>
    </form>
    <div ng-if="show_history" ng-controller="HistoryCtrl">
      <div class="well" ng-repeat="h in history" ng-controller="HistoryItemCtrl">
	{{h.author_nick}} {{h.timestamp | date:'d.M.yyyy H:mm'}} <br>
	<span ng-repeat="entry in entries">{{entry.key}}: {{entry.value}}, </span>
      </div>
    </div>
  </div>
</script>

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>

  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular-resource.js"></script>

  <script src="lib/ui-bootstrap-tpls-0.3.0.min.js"></script>
  <script src="lib/date.js"></script>
  <script src="lib/localStorageModule.js"></script>

  <script src="lib/select2-release-3.2/select2.min.js"></script>

  <link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.1/themes/base/jquery-ui.css"/>
  <link rel="stylesheet" type="text/css" href="lib/select2-release-3.2/select2.css"/>
  <link rel="stylesheet" href="lib/angular-ui-0.4.0/build/angular-ui.min.css"/>
  <link rel="stylesheet" type="text/css" href="http://angular-ui.github.com/ng-grid/css/ng-grid.css" />
  <script type="text/javascript" src="http://angular-ui.github.com/ng-grid/lib/ng-grid.debug.js"></script>
  <script src="js/app.js"></script>
  <script src="js/services.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/directives.js"></script>
  <script src="etusivu/etusivu.js"></script>
  <script src="koira/koira.js"></script>
  <script src="koira/koira_etusivu.js"></script>
  <script src="koira/koira_sukupuu.js"></script>
  <script src="koira/koira_paimennustaipumus.js"></script>
  <script src="kennel/kennel_etusivu.js"></script>
</body>
</html>
