<!doctype html>
<html lang="en" ng-app="myApp">
<head>
  <meta charset="utf-8">
  <title>PROTOTYYPPI Jalostustietokanta -- Suomen Partacolliet ry</title>
  <!-- DELETE_IN_PRODUCTION
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet">
  DELETE_IN_PRODUCTION -->
  <link href="css/netdna.bootstrapcdn.com/twitter-bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet">  <!-- DELETE_IN_PRODUCTION -->
  <link rel="stylesheet" href="css/app.css"/>
</head>
<body>
<div id="header"><!-- begin header -->
  <h1>Jalostustietokanta -- Suomen Partacolliet ry</h1>

  <span ng-controller="LoginStatusCtrl">
    <span ng-show="login_status.logged_in">
      Olet kirjautunut käyttäjänä {{login_status.nick}} {{login_status.kennel}}
      <span ng-show="login_status.is_admin">ADMIN</span>
    </span>
    <span ng-show="!login_status.logged_in">
      Et ole kirjautunut
    </span>
  </span>

  <header class="navbar navbar-default" ng-controller="NavListController">
    <div class="navbar-inner">
      <div class="container">
	<div class="navbar-header">
          <button type="button" ng-init="isCollapsed = true" class="navbar-toggle" data-target="#main-navbar-collapse" ng-click="isCollapsed = !isCollapsed">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">
	    Partistietokanta
	  </a>
        </div>

        <nav id="main-navbar-collapse" class="collapse navbar-collapse" collapse="isCollapsed">
	  <ul class="nav navbar-nav">
	    <li ng-class="navClass('etusivu')"><a ng-click="isCollapsed = !isCollapsed; gotoView('etusivu')">Etusivu</a></li>
	    <li ng-class="navClass('koira') + navClass('koira_etusivu')"><a ng-click="isCollapsed = !isCollapsed; gotoView('koira_etusivu')">Koirat</a></li>
	    <li ng-class="navClass('kennel') + navClass('kennel_etusivu')"><a ng-click="isCollapsed = !isCollapsed; gotoView('kennel_etusivu')">Kennelit</a></li>
	    <li ng-class="navClass('terveyskysely')"><a ng-click="isCollapsed = !isCollapsed; gotoView('terveyskysely/yhteenveto')">Terveyskysely</a></li>
	    <li ng-class="navClass('kirjaudu')"><a ng-click="isCollapsed = !isCollapsed; gotoView('login')">Kirjaudu</a></li>
	    <li ng-show="hasRole('admin')" ng-class="navClass('admin')"><a ng-click="isCollapsed = !isCollapsed; gotoView('admin')">Ylläpito</a></li>
	  </ul>
	</nav>
      </div>
    </div>
  </header>
</div><!-- end header -->


	<div id="wrapper"><!-- sets background to white and creates full length leftcol -->
	
		<div id="maincol"><!-- begin main content area -->
				
			<div id="leftcol" ng-controller="LeftcolCtrl"><!-- begin leftcol -->
                        <span ng-include="path_start + '_sidepanel.html'"></span>
			</div><!-- end leftcol -->
				
			<div id="centercol"><!-- begin centercol -->
				  <div ng-view></div>
			</div><!-- end centercol -->
				
		</div><!-- end main content area -->
				
		<div id="footer"><!-- begin footer -->
			Suomen Partacolliet ry
		</div><!-- end footer -->
	
	</div><!-- end wrapper -->

<script type="text/ng-template" id="_sidepanel.html">
</script>
<script type="text/ng-template" id="login_sidepanel.html">
</script>
<script type="text/ng-template" id="etusivu_sidepanel.html">
</script>
<script type="text/ng-template" id="koira_etusivu_sidepanel.html">
</script>
<script type="text/ng-template" id="terveyskysely_sidepanel.html">
    <h2>Kysely</h2>
    <ul class="nav nav-pills nav-stacked" ng-controller="TerveyskyselySidepanelCtrl">
      <li ng-class="navClass('yhteenveto')"><a ng-click="gotoSubview('yhteenveto')">Yhteenveto</a></li>
      <li ng-class="navClass('vastaa')"><a ng-click="gotoSubview('vastaa')">Vastaa</a></li>
      <li ng-class="navClass('vastaukset')"><a ng-click="gotoSubview('vastaukset')">Vastaukset</a></li>
      <li ng-show="roles.indexOf('admin') >= 0" ng-class="navClass('kysymykset')"><a ng-click="gotoSubview('kysymykset')">Kysymykset</a></li>
      <li ng-show="roles.indexOf('admin') >= 0" ng-class="navClass('kasiteltavat')"><a ng-click="gotoSubview('kasiteltavat')">Käsiteltävät</a></li>
    </ul>
</script>

<script type="text/ng-template" id="koira_sidepanel.html">
  <h2>Koira</h2>
  <ul class="nav nav-pills nav-stacked" ng-controller="KoiraSidepanelCtrl">
    <li ng-class="navClass('perustiedot') + navClass('')"><a ng-click="gotoSubview('perustiedot')">Perustiedot</a></li>
    <li ng-class="navClass('sukupuu')"><a ng-click="gotoSubview('sukupuu')">Sukupuu</a></li>
    <li ng-class="navClass('paimennustaipumus')"><a ng-click="gotoSubview('paimennustaipumus')">Paimennustaipumus</a></li>
    <li ng-class="navClass('terveyskysely')"><a ng-click="gotoSubview('terveyskysely')">Terveyskysely</a></li>
  </ul>
</script>

<script type="text/ng-template" id="kennel_etusivu_sidepanel.html">
</script>
<script type="text/ng-template" id="kennel_sidepanel.html">
  <h2>Kennel</h2>
  <ul class="nav nav-pills nav-stacked" ng-controller="KennelSidepanelCtrl">
    <li ng-class="navClass('koirat') + navClass('')"><a ng-click="gotoSubview('koirat')">Koirat</a></li>
    <li ng-class="navClass('muutokset')"><a ng-click="gotoSubview('muutokset')">Muutokset</a></li>
    <li ng-show="IS_ADMIN" ng-class="navClass('admin')"><a ng-click="gotoSubview('admin')">Admin</a></li>
  </ul>
</script>

<script type="text/ng-template" id="admin_sidepanel.html">
  <h2>Ylläpito</h2>
  <ul class="nav nav-pills nav-stacked" ng-controller="AdminSidepanelCtrl">
  </ul>
</script>

<script type="text/ng-template" id="history_renderer">
  <div ng-if="history_target != undefined">
    <form>
      <label class="checkbox"><input type="checkbox" ng-model="show_history">Muutoshistoria</label>
    </form>
    <div ng-if="show_history" ng-controller="HistoryCtrl">
      <div class="well" ng-repeat="h in history" ng-controller="HistoryItemCtrl">
	{{h.author_nick}} {{h.timestamp | date:'d.M.yyyy H:mm'}} <br>
	<span ng-repeat="entry in entries">{{entry.key}}: {{entry.value}}, </span>
      </div>
    </div>
  </div>
</script>

  <!-- DELETE_IN_PRODUCTION
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
  DELETE_IN_PRODUCTION -->

  <script src="lib/ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>  <!-- DELETE_IN_PRODUCTION -->
  <script src="lib/ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>  <!-- DELETE_IN_PRODUCTION -->


  <!-- DELETE_IN_PRODUCTION
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.3/angular.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.3/angular-resource.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.3/angular-route.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.3/angular-sanitize.js"></script>
  DELETE_IN_PRODUCTION -->
  <script src="lib/ajax.googleapis.com/ajax/libs/angularjs/1.2.3/angular.min.js"></script>  <!-- DELETE_IN_PRODUCTION -->
  <script src="lib/ajax.googleapis.com/ajax/libs/angularjs/1.2.3/angular-resource.min.js"></script>  <!-- DELETE_IN_PRODUCTION -->
  <script src="lib/ajax.googleapis.com/ajax/libs/angularjs/1.2.3/angular-route.min.js"></script>  <!-- DELETE_IN_PRODUCTION -->
  <script src="lib/ajax.googleapis.com/ajax/libs/angularjs/1.2.3/angular-sanitize.min.js"></script>  <!-- DELETE_IN_PRODUCTION -->

  <script src="lib/ui-bootstrap-tpls-0.10.0.min.js"></script>
  <script src="lib/sortable.js"></script>
  <script src="lib/dirPagination.js"></script>

  <script src="lib/date.js"></script>
  <script src="lib/localStorageModule.js"></script>
  <script src="lib/cachedResource/cachedResource.js"></script>

  <script src="lib/select2-release-3.2/select2.min.js"></script>

  <!-- DELETE_IN_PRODUCTION
  <link rel="stylesheet" type="text/css" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.1/themes/base/jquery-ui.css"/>
  DELETE_IN_PRODUCTION -->

  <link rel="stylesheet" type="text/css" href="lib/ajax.googleapis.com/ajax/libs/jqueryui/1.10.1/themes/base/jquery-ui.css"/>  <!-- DELETE_IN_PRODUCTION -->

  <link rel="stylesheet" type="text/css" href="lib/select2-release-3.2/select2.css"/>
  <script src="js/app.js"></script>
  <script src="js/services.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/directives.js"></script>
  <script src="etusivu/etusivu.js"></script>
  <script src="koira/koira.js"></script>
  <script src="koira/koira_etusivu.js"></script>
  <script src="koira/koira_sukupuu.js"></script>
  <script src="koira/koira_paimennustaipumus.js"></script>
  <script src="koira/koira_terveyskysely.js"></script>
  <script src="kennel/kennel_etusivu.js"></script>
  <script src="kennel/kennel_koirat.js"></script>
  <script src="kennel/kennel_muutokset.js"></script>
  <script src="kennel/kennel_admin.js"></script>
  <script src="terveyskysely/terveyskysely.js"></script>
  <script src="admin/admin.js"></script>
  
  <script type="text/ng-template" id="search_dog.html">
  <div class="row" ng-controller="SearchKoiraCtrl">
    <div class="col-xs-6">
      <form role="form">
	<div class="form-group">
	  <label for="search-koira-input">Virallinen nimi /muu tunniste</label>
	  <div class="input-group">
	    <input type="text"
                   autocomplete="off"
 		   ng-model="koira.virallinen_nimi"
		   typeahead="suggestion for suggestion in typeahead($viewValue)"
		   class="form-control" 
		   id="search-koira-input" 
		   placeholder="nimi">
	    <span class="input-group-btn">
	      <button class="btn btn-default form-control" 
		      id="search-koira-clear"
		      style="max-width: 50px;"
		      ng-click="typeaheadClear()">
		<span class="glyphicon glyphicon-refresh"></span>
	      </button>
	    </span>
	  </div>
	</div>
      </form>
    </div>
    <div class="col-xs-1">
      <form role="form">
	<div class="form-group">
	  <label for="search-koira-clear">&nbsp;</label>
	  <button class="btn btn-default" ng-click="findDog(koira.virallinen_nimi)">Hae</button>
	</div>
      </form>
    </div>
  </div>
</script>

<script type="text/ng-template" id="uusi_koira.html">
<div class="well">
   <div class="modal-header">
      <h3 class="modal-title">Koiraa ei löytynyt, lisätäänkö?</h3>
  </div>
  <div class="modal-body" ng-controller="AddKoiraCtrl">
    <div>
      <form role="form">
	<div class="form-group">
	  <label for="add-koira-input">Virallinen nimi /muu tunniste</label>
	  <input type="text" class="form-control" id="add-koira-input" ng-model="koira.virallinen_nimi" ng-change="checkKennel()">
	</div>
	<div class="form-group">
	  <label for="add-koira-sex">Sukupuoli</label>
	  <select ng-model="selected"
		  class="form-control"
		  ng-options="selected.sex for selected in sexes"
		  id="add-koira-sex">
	  </select>
	  <label for="add-koira-kennel">Kennel</label>
	  <input type="text" class="form-control" id="add-koira-kennel" ng-model="koira.kennel">
	  </select>
	</div>
      </form>
    </div>
  </div>
  <div class="modal-footer">
     <button ng-disabled="buttons_disabled" class="btn btn-primary" ng-click="ok()">Tallenna</button>
     <button ng-disabled="buttons_disabled" class="btn btn-warning" ng-click="cancel()">Peruuta</button>
  </div>
</div>
</script>

<script type="text/ng-template" id="free_text_question_renderer.html">
 <div ng-style="{'margin-left': question.indent_level * 50 + 'px'}">
  <div class="col-xs-4" style="white-space: pre-wrap"><b>{{question.position}}.</b> {{question.question}}</div>
  <div class="col-xs-8""><textarea ng-disabled="questionsDisabled()" ng-model="answer.free_text_answer" placeholder="Vastaa tähän..." class="form-control"></textarea></div>
 </div>
</script>
<script type="text/ng-template" id="boolean_question_renderer.html">
 <div ng-style="{'margin-left': question.indent_level * 50 + 'px'}">
  <div class="col-xs-12">
    <div class="row">
      <div class="col-xs-4" style="white-space: pre-wrap"><b>{{question.position}}.</b> {{question.question}}
      </div>
      <div class="col-xs-8">
        <form role="form" class="form-inline">
          <label class="checkbox">
            <input ng-model="yesno.yes" ng-change="changeYesno('yes', $index)" ng-disabled="questionsDisabled()" type="checkbox">Kyllä
          </label>
          <label class="checkbox">
            <input ng-model="yesno.no" ng-change="changeYesno('no', $index)" ng-disabled="questionsDisabled()" type="checkbox">Ei
          </label>
        </form>
      </div>
    </div>
    <div ng-show="yesno.yes" class="row">
      <div ng-show="question.detail_question.length > 0" class="col-xs-4" style="white-space: pre-wrap">{{question.detail_question}}</div>
      <div ng-show="question.detail_question == undefined || question.detail_question.length == 0" class="col-xs-4" style="white-space: pre-wrap">Lisätietoja:</div>
      <div class="col-xs-8">
        <textarea ng-model="answer.free_text_answer" ng-disabled="questionsDisabled()" placeholder="Kerro lisätietoja tähän..." class="form-control"></textarea>
      </div>
    </div>
  </div>
 </div>
</script>

<script type="text/ng-template" id="free_text_question_answer_readonly_renderer.html">
    <div class="row">
    <div class="col-xs-4">
    {{question.question}}
    </div>
    <div class="col-xs-8">
    {{answer.free_text_answer}}
    </div>
    </div>
</script>
<script type="text/ng-template" id="boolean_question_answer_readonly_renderer.html">
    <div class="row">
    <div class="col-xs-4">
    {{question.question}}
    </div>
    <div class="col-xs-8">
    <span ng-show="answer.yesno_answer == undefined"><i>(ei vastausta)</i></span>
    <span ng-show="answer.yesno_answer == true">Kyllä</span>
    <span ng-show="answer.yesno_answer == false">Ei</span>
    </div>
    </div>
    <div class="row">
    <div class="col-xs-4">
    {{question.detail_question}}
    </div>
    <div class="col-xs-8">
    {{answer.free_text_answer}}
    </div>
    </div>
</script>

</body>
</html>
